@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.header h1 {
  font-family: Roboto-Mono, sans-serif;
  font-size: xx-large;
  font-style: oblique;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  background-color: burlywood;
}

.container li {
  list-style: none;
  font-family: Roboto-Mono, sans-serif;
  font-size: large;
  line-height: 3rem;
  text-align: center;
}

.container h2 {
  font-family: Roboto-Mono, sans-serif;
  font-size: x-large;
  font-style: oblique;
  padding: 1rem;
  margin: 2rem;
  background-color: burlywood;
  border-radius: 70%;
}
.footer p {
  font-family: Roboto-Mono, sans-serif;
  font-size: medium;
  text-align: center;
  line-height: 2rem;
}
